@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 100vw;
    background-color: black;
    color: aliceblue;
}

body img{
    display: flex;
    max-width: 100vw;
    height: auto;
    z-index: 0;
    align-items: center;
    justify-content: center;
    position: absolute;
    filter: blur(0.3rem);
}

html {
    scroll-behavior: smooth;
}

.wrapper {
    width: 605px;
    background: rgba(0, 0, 0, 0.8);
    box-shadow: rgb(23, 195, 166) 0rem 0rem 3rem;
    border-radius: 15px;
    padding: 30px 30px 25px;
    z-index: 1;
}

.wrapper header {
    font-size: 35px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.wrapper span {
    color: #D2042D;
}

.wrapper .text {
    margin: 35px 0;
}

.text .quote-area{
    display: flex;
    justify-content: center;
}

.quote-area i {
    font-size: 15px;
}

.icon1{
    margin: 3px 2px 0 0;
}

.icon2{
    display: flex ;
    align-items: flex-end;
    margin: 0px 0 3px 2px;
}

.quote-area .quote {
    font-size: 22px;
    text-align: center;
}

.text .author {
    display: flex;
    font-size: 18px;
    font-style: italic;
    margin: 20px 0;
    justify-content: flex-end;
}

.author span:first-child{
    margin: -7px 5px 0 0;
    font-family: monospace;
}

.wrapper .buttons {
    border-top: 1px solid aliceblue;

}

.buttons .features {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
}

.features ul{
    display: flex;
}

.features ul li {
    list-style: none;
    margin: 0 5px;
    height: 47px;
    width: 47px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    color: aliceblue;
    border-radius: 0.5rem;
    border: 2px solid aliceblue;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

}

.features button {
    border: 2px solid aliceblue;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    border-radius: 0.4rem;
    color: aliceblue;
    cursor: pointer;
    transition: all ease-in-out 0.5s;

}

.features button:hover, .features ul li:hover{
    background: aliceblue;
    box-shadow: rgb(23, 195, 166) 0rem 0rem 0.5rem;
    color: #D2042D;

}

